<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='form.css')}}">
    <title>Document</title>
</head>
<body>
    <h1>Aqui é o novo</h1>

    <button id="open-btn" onclick="openForm()">Abrir</button>

    <div id="create-form" class="pop-up">
        <form method="POST" action="{{url_for('criar')}}">
            <h1>Crie Sua Tarefa</h1>

            <input type="text" name="nome" id="nome" placeholder="Nome..."> <br>

            <input type="text" name="descricao" id="descricao" placeholder="Descrição da Tarefa..."> <br>

            <input type="text" name="tipo" id="tipo" placeholder="Tipo de Tarefa..."> <br>

            <input type="text" name="status" id="status" placeholder="Status da Tarefa..."> <br>

            <input type="text" name="prioridade" id="prioridade" placeholder="Prioridade da Tarefa..."> <br>

            <button class="submit-btn" type="submit">OK</button>
        </form>
    </div>

    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>